@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Prompt', sans-serif;
    background: rgb(245, 245, 245);
    background: radial-gradient(circle, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

#sidebar-wrapper {
    background-color: white;
}

#loading-indicator {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    background-image: url("../images/loading-37.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.boder-custom-1 {
    border: 1px solid #CCC;
}

.container-fluid {
    font-size: 14px;
}
.reward-info-table td:nth-child(odd) {
    text-align: right;
    width: 15%;
    vertical-align: middle;
}

.reward-info-table td:nth-child(even) {
    text-align: left;
    word-break: break-word;
    vertical-align: middle;
}

table.dataTable>tbody>tr.selected>td.select-checkbox:after, table.dataTable>tbody>tr.selected>th.select-checkbox:after {
    margin-top: -18px !important;
}

.main-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%; 
    object-fit: contain !important;
    top: 50% !important;
}


.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.swiper-location {
    /* position: relative; */
    /* height: 100%; */
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.swiper-wrapper{
    height: 100% !important;
    align-items: center !important; 
}

.border-none{
    border: 0px !important;
    /* cursor: all-scroll; */
}

.hidden{
    display: none;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.hide{
    display: none;
}
#addnewbtn{
    border: 1px solid #FFFFFF;
}
.sorting_disabled{
    text-align: center !important;
}
/* #list_questioncat td, */
#list_questiongroup td,
#list_questionmode td,
#list_activities td,
#list_mistakelevel td{
    text-align: center;
}